<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AdventurerRepositoryType" value="StoryExplorer.Repository.MockAdventurerRepository,
         StoryExplorer.Repository, Version=1.0.0.0, Culture=neutral"/>
    <add key="RegionRepositoryType" value="StoryExplorer.Repository.MockRegionRepository,
         StoryExplorer.Repository, Version=1.0.0.0, Culture=neutral"/>
  </appSettings>
</configuration>