<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IAdventurerRepository" value="StoryExplorer.Repository.Implementations.MockAdventurerRepository,
         StoryExplorer.Repository, Version=1.0.0.0, Culture=neutral"/>
    <add key="IRegionRepository" value="StoryExplorer.Repository.Implementations.MockRegionRepository,
         StoryExplorer.Repository, Version=1.0.0.0, Culture=neutral"/>
  </appSettings>
</configuration>